.bicicletas__bg {
  background: linear-gradient(to left, var(--cor-0) 30%, var(--cor-11) 0%)
}

.bicicletas {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 60px;
  padding-bottom: 60px;
}

.dec {
  background: url('../../img/dec/top-right.svg') no-repeat top 40px right 20px;
}

.bicicletas__img {
  display: grid;
}

.bicicletas__img img {
  grid-area: 1/1;
}

.bicicletas__img span {
  grid-area: 1/1;
  background: var(--cor-12);
  place-self: start end;
  margin-top: 20px;
  padding: 8px 16px 8px 8px;
  display: inline-block;
  border-radius: 5px 0 0 5px;
}

.bicicletas__conteudo {
  display: grid;
  grid-template-columns: 1fr auto;
  align-content: start;
}

.bicicletas__conteudo h2,
.bicicletas__conteudo p {
  grid-column: 1/-1;
}

.bicicletas__conteudo h2 {
  margin-bottom: 20px;
}

.bicicletas__conteudo h2::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
  background: var(--cor-p1);
  margin-bottom: 8px;
}

.bicicletas__conteudo h2:hover:before {
  width: 24px;
}

.bicicletas__conteudo p {
  margin-bottom: 32px;
}

.bicicletas__conteudo a {
  place-self: end;
}

.bicicletas__conteudo li {
  display: flex;
  align-items: center;
}

.bicicletas__conteudo ul {
  display: grid;
  gap: 16px;
}

.bicicletas__conteudo img {
  width: 24px;
  margin-right: 8px;
}

@media (max-width: 800px) {
  .bicicletas__bg {
    background: var(--cor-11);
  }

  .bicicletas {
    grid-template-columns: 1fr;
    gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

@media (max-width: 600px) {
  .bicicletas__conteudo {
    grid-template-columns: 1fr;
  }

  .bicicletas__conteudo ul {
    font-size: 1rem;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 32px;
  }

  .bicicletas__conteudo a {
    place-self: start;
  }
}
